<%- include('../partials/header') %>


    <h1>Dem Mad Skillz: "views/skills: index.ejs" as of <%= time %></h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Skillz</th>
          <th>Training Status?</th>
        </tr>
      </thead>
      <tbody>
        <% skills.forEach(function(s) { %>
          <tr>
            <td><a href="/skills/<%= s.id %>"><%= s.skill %></a></td>
            <td><%= s.done ? 'done' : 'not done' %></td>
            <td>
              <form method="POST" action="/skills/<%= s.id %>?_method=DELETE">
                <button type="submit" class="btn btn-danger">(X)</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    
<%- include('../partials/footer') %>